// Customize bootstrap variables before importing them.
$primary: #4fc3f7;
$primary-darker: #0093c4;
$secondary: #8bf6ff;
//BACKGROUND: #4e5050;
//$success: $success;
//$info: $info;
//$warning: $warning;
//$danger: $danger;
$light: #f3f3f3;
//$dark: $dark;

.custom-file-input:lang(en) ~ .custom-file-label::after {
  color: #0093c4;
}

// Bootstrap and its default variables.
@import "~bootstrap/scss/bootstrap";
// BootstrapVue and its default variables.
@import "~bootstrap-vue/src/index.scss";

// Import boostrap component styles.
@import "~bootstrap/dist/css/bootstrap.css";
@import "~bootstrap-vue/dist/bootstrap-vue.css";
